<%= render 'layouts/navbar.html.erb', locals: { colorclass: 'navbar-contrast' }%>

<div class="container">
  <h2>Welcome back, <%= current_user.username %></h2>


  <div class="container">

    <div class="row">
      <h3>Your books</h3>
      <% @books.each do |book| %>
        <div class="col-md-3">
          <%= link_to book_path(book) do %>
            <div class="my-card mb-3">
            <%= link_to book_path(book), data: {:confirm => 'Are you sure?'}, method: :delete do %>
              <i class="fa-solid fa-circle-xmark"></i>
              <% end %>

              <div class ="my-card-upper-image" style="background-image: url(<%= image_path book.image_url %>); background-size: contain; background-position: center; background-repeat: no-repeat">
              </div>
              <hr>
              <div class="card-body">
                <h5><%= book.title %></h5>
                <p> <%= book.author %>, <%= book.publishing_date.year %> </p>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>

    <br>
    <hr>
    <br>


    <div class="row">
      <h3>Your orders</h3>
      <% @orders.each do |order| %>
        <div class="col-md-4 card-order">
          <div class="card-order-infos">
            <h2> Title: <%= order.book.title %> </h2>
            <p> Renter: <%= order.user.username %></p>
            <p> Message: <%= order.message %></p>
            <p> Date: <%= order.starting_date %> --> <%= order.ending_date %></p>
            <p id="status">Status: <%= order.status%></p>


            <% Order::STATUSES.each do |status| %>
              <%= link_to change_status_order_path(order, status: status), method: :patch, remote: true do %>
                <%= status %>
              <% end %>
            <% end %>

          </div>
        </div>
      <% end %>
    </div>

    <br>
    <hr>
    <br>

    <div class="row">
      <h3>Books you orders</h3>
      <% @rentals.each do |rental| %>
        <div class="col-md-4 card-rental">
          <div class="card-rental-infos">
            <h2> Title: <%= rental.book.title %> </h2>
            <p> Renter: <%= rental.user.username %></p>
            <p> Message: <%= rental.message %></p>
            <p> Date: <%= rental.starting_date %> --> <%= rental.ending_date %></p>
            <p>Status: <%= rental.status %></p>


          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
