<h2>Welcome back, <%= current_user.username %></h2>

<div class="container">

  <div class="row">
    <h3>Your books</h3>
    <% @books.each do |book| %>
        <div class="col-sm-4 mb-1 text-center">
        <div class="card" style="width: 18rem;">
            <%= image_tag book.image_url, :class => 'card-img-top rounded' %>
          <div class="card-body">
            <li><%= link_to book.title, book_path(book) %></li>
          </div>
        </div>

        </div>
      <% end %>
  </div>

  <br>
  <hr>
  <br>


  <div class="row">
    <h3>Your orders</h3>
    <% @orders.each do |order| %>
      <div class="col-md-4 card-order">
        <div class="card-order-infos">
          <h2> Title: <%= order.book.title %> </h2>
          <p> Renter: <%= order.user.username %></p>
          <p> Message: <%= order.message %></p>
          <p> Date: <%= order.starting_date %> --> <%= order.ending_date %></p>
        </div>
      </div>
    <% end %>
  </div>

</div>
