<!-- Banner -->
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://www.nice.fr/uploads/media/paysage/0001/24/thumb_23445_paysage_big.jpg);">

<%= render 'layouts/navbar.html.erb', locals: { colorclass: 'navbar-contrast' }%>

  <div class="container h-75 d-flex align-items-center banner-content">
    <h1 class="d-block">La location de livres pour tous</h1>
    <%= link_to "Commencer", books_path, class:"btn btn-primary btn-booker-pages m-4" %>
  </div>
</div>
<!-- Fin banner -->

<div class="container">
  <!-- Top Book -->
  <hr>
  <h2 class="m-4"> Nos derniers ajouts :</h2>
  <hr>
  <div class="row">
    <% @books.each do |book| %>
      <%# card top %>
      <div class="col-md-3">
        <%= link_to book_path(book) do %>
          <div class="my-card mb-3">
            <div class ="my-card-upper-image" style="background-image: url(<%= image_path book.image_url %>); background-size: contain; background-position: center; background-repeat: no-repeat">
            </div>
            <hr>
            <div class="card-body">
              <h5><%= book.title %></h5>
              <p> <%= book.author %>, <%= book.publishing_date.year %> </p>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
    <%# card bottom %>
  </div>

  <!-- Top User -->
  <hr>
  <h2 class="mt-3"> Nos top utilisateurs :</h2>
  <hr>
  <div class="row justify-content-center mb-4">
    <% @users.each do |user| %>
      <div class="col-lg-2">
        <div class="user-card">
         <p><%= user.username %></p>
        </div>
      </div>
    <% end %>
  </div>
  <!-- Fin top User -->

</div>
