<!-- div content -->
  <!-- div livre 2 par lignes 6 au total -->
  <!-- div mapbox -->
<!-- fin div content -->
<div class="container">

  <h2>Available books</h2>


  <div class="search mb-3">
    <%= form_tag books_path, method: :get do %>
      <%= text_field_tag :query,
        params[:query],
        class: "form-control",
        placeholder: "Find a book"
      %>
      <%= submit_tag "Search", class: "btn btn-primary" %>
    <% end %>
  </div>



  <div class="mb-3">
    <% if !current_user.nil? %>
      <%= link_to 'Add a book', new_book_path, class:"btn btn-primary" %>
    <% end %>
  </div>

  <div class="row">

    <div class="col-sm-12 col-md-6 col-lg-6">
      <div class="row justify-content-center">
        <% @books.each do |book| %>

          <div class="col-sm-12 col-md-12 col-lg-6 justify-content-center">
            <%= link_to book_path(book) do %>
              <div class="my-card mb-3">
                <div class ="my-card-upper-image" style="background-image: url(<%= image_path book.image_url %>); background-size: contain; background-position: center; background-repeat: no-repeat">
                </div>
                <hr>
                <div class="card-body">
                  <h5><%= book.title %></h5>
                  <p> <%= book.author %>, <%= book.publishing_date.year %> </p>
                </div>
                <div class="price-card">
                <p class="price-value"><%= book.price%>€</p>
                <p class="price-txt">/day</p>
                </div>
              </div>
            <% end %>
          </div>

        <% end %>
      </div>

    </div>

    <div class="col-sm-12 col-md-6 col-lg-6">
      <div id="map" style="width: 100%;"
      data-controller="mapbox"
      data-mapbox-markers-value="<%= @markers.to_json %>"
      data-mapbox-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>" ></div>
    </div>

  </div>
</div>
