<!-- div content -->
  <!-- div livre 2 par lignes 6 au total -->
  <!-- div mapbox -->
<!-- fin div content -->

<h2>Index Book</h2>

<div class="mb-3">
  <%= link_to 'Ajouter un livre', new_book_path, class:"btn btn-success" %>
</div>
<div class="row ">
  <% @books.each do |book| %>
    <div class="col-md-4 card-book mb-3 text-center">
    <%= image_tag book.image_url, :class => 'card-img-top img-thumbnail rounded' %>
      <div class="wrap">
      <%= link_to "",book_path(book),class: 'card-click'  %>
      <div class="card-book-infos">
        <h2> <%= book.title %> </h2>
        <p class="mb-5"> <%= book.overview %></p>
        <a href="#">voir +</a>
      </div>
      </div>
    </div>
  <% end %>

  <div class="col-md-4 card-map">
    mapbox
  </div>
</div>
