<!-- div content -->
  <!-- div livre 2 par lignes 6 au total -->
  <!-- div mapbox -->
<!-- fin div content -->

<h2>Index Book</h2>

<%= link_to 'Ajouter un livre', new_book_path, class:"btn btn-success" %>

<div class="row">
  <% @books.each do |book| %>
    <div class="col-md-4 card-book">
      <%= link_to book_path(book), class:"text-decoration-none" do  %>
      <img src="" alt="">
      <div class="card-book-infos">
        <h2> <%= book.title %> </h2>
        <p> <%= book.overview %></p>
        <%= link_to "Edit", edit_book_path(book) %>
        <%= link_to "Delete", book_path(book), method: :delete %>
      </div>
      <% end %>
    </div>
  <% end %>

  <div class="col-md-4 card-map">
    mapbox
  </div>
</div>
