<%= render 'layouts/navbar.html.erb', locals: { colorclass: 'navbar-contrast' } %>

<div class="container">

    <div class="show-card mb-3">
      <%= image_tag @book.image_url %>
      <div class="show-content">
        <h2> <%= @book.title %> </h2>
        <h5> <%= @book.author %>, <%= @book.publishing_date %> </h5>
        <hr>
        <p> <%= @book.overview %> </p>
        <div class="show-card-btm-buttons">
          <div class="price-card mb-3">
            <p class="price-value"><%= @book.price%>€</p>
            <p class="price-txt">/day</p>
          </div>
          <%= @book.user == current_user ? ("This is your book") : (link_to "Get this book!", new_book_order_path(@book), class:"btn btn-primary") %>
        </div>
      </div>
    </div>



  <%= link_to "Back", books_path,class: "btn btn-primary mb-3" %>
</div>
