<div class="row">
  <div class="card-book col-md-8">
    <h2><%= @book.title %> - <%= @book.author %></h2>
    <em><%= @book.address %><%= @book.rating %><%= @book.category %></em>
    <div class="card">
      <div class="book-img">
        <%= image_tag @book.image_url  %>
      </div>
      <div class="book-overview">
        <p><%= @book.overview %></p>
      </div>
    </div>
  </div>

<%= link_to "Back", books_path %>

  <div class="orders">
    <%= link_to "Reserver", book_orders_path(@book), method: :post %>
  </div>
</div>
