<div class="container">

  <div class="py-5">
    <div class="row">
      <div class="card col-md-12 text-center mb-3 p-3">
        <h2><%= @book.title %> - <%= @book.author %></h2>
        <em>&nbsp;<%= @book.publishing_date %>&nbsp;category: <%= @book.category %>&nbsp;</em>
        <p><%= @book.address %> <%= @book.price %>€/day</p>
        <p> Propriétaire : <%= @book.user.username%></p>
        <div class="card ">
          <div class="book-img d-flex">
            <%= image_tag @book.image_url, :class => "img-thumbnail"  %>
            <div class="card-content">
              <div class="book-overview">
                <p><%= @book.overview %></p>
              </div>
              <div class="orders">
                <% if @book.user != current_user %>
                  <%= link_to "Reserver", new_book_order_path(@book) %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>

  <%= link_to "Back", books_path,class: "btn" %>


  </div>
</div>
