<div class="navbar navbar-expand-sm navbar-light navbar-lewagon <%=locals[:colorclass]%> mb-4">
  <div class="container">
    <%= link_to root_path, class: "navbar-brand" do %>
      <%= image_tag "logo.png", id:"logo" %>
    <% end %>

    <div>
      <%= form_tag books_path, method: :get do %>
        <%= text_field_tag :query,
          params[:query],
          class: "form-inline my-search-bar",
          placeholder: "Find a book"
        %>
        <%= submit_tag "Search", class: "btn btn-primary my-search-btn" %>
      <% end %>
    </div>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
          <li class="nav-item dropdown">
            <% if !current_user.nil? %>
              <% if current_user.username == "user1" %>
                <%= image_tag "Enor.png", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
              <% elsif current_user.username == "user2" %>
                <%= image_tag "Marc.png", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
              <% end %>
                <% else %>
                  <%= image_tag "account.png", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
                <% end %>
          <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
            <%= user_signed_in? ? (link_to "Sign out", destroy_user_session_path, method: :delete, class:"dropdown-item") : (link_to "Sign in", new_user_session_path, class:"dropdown-item")  %>
              <%= link_to "My Account", profilepage_path, class:"dropdown-item"  %>
          </div>
          </li>
      </ul>
    </div>
  </div>
</div>
