<!DOCTYPE html>
<html>
  <head>
    <title>Bookr</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>

  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <div class="navbar">
      <div class="container-fluid">
        logo
      </div>
      &nbsp;&nbsp;
      <div class="search">
        <form action="">
          <input type="text">
          <input type="submit">
        </form>
      </div>
      &nbsp;&nbsp;
      <div class="login">
        <a href="">login</a>
      </div>
      <div class="profile">
        name
      </div>
    </div>
    <%= yield %>
    <footer>
    </footer>
  </body>
</html>
