<!DOCTYPE html>
<html>
  <head>
    <title>Bookr</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link href="https://api.mapbox.com/mapbox-gl-js/v1.11.1/mapbox-gl.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>

  </head>

  <body>
    <p class="notice "><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <div class="navbar">
      <div class="container-fluid">
        logo
      </div>
      &nbsp;&nbsp;
      <div class="search">
        <form action="">
          <input type="text">
          <input type="submit">
        </form>
      </div>
      &nbsp;&nbsp;
      <div class="login">

        <%= user_signed_in? ? (link_to "Sign out", destroy_user_session_path, method: :delete) : (link_to "Sign in", new_user_session_path)  %>

        <% if user_signed_in? && !current_page?('/profilepage') %>
          <%= (link_to "Personnal space",'/profilepage') %>
        <% else %>
          <%= (link_to "Home", books_path) %>
       <% end %>
      </div>
      <div class="profile">
        name
      </div>
    </div>
    <div class="container">
    <%= yield %>
    </div>
    <footer>
    </footer>
  </body>
</html>
